#header
  h1
    span.hour 18
    span.divider :
    span.minute 00

#content
  .hours
    .minimum
      span 17:45
    .maximum
      span 18:15

#entrance
  input(type="time")

#calendar
  ul
    - var d = [ 'Mon', 'Tue', 'Wed', 'Thu', 'Fri', 'Sat', 'Sun' ];
    - for( var num = 0; num < 31; num++ )
      li
        span= d[ num % 7 ]
        strong= num

footer
  span#footer Month - Year
