!!! 5
html
  head
    meta(charset="UTF-8")
    title Timesheet - Tests
    link(rel="shortcut icon", href="/favicon.ico")
    link(rel="stylesheet", href="/tests/libs/mocha.css")
    script(type="text/javascript", src="/tests/libs/mocha.js")
    script(type="text/javascript", src="/tests/libs/chai.js")
    script(type="text/javascript", src="/javascripts/libs/require.js")
  body
    #timesheet(style="display:none")
    #mocha Timesheet

    script(type="text/javascript")
      var files = '#{files}'.split(','),
        isCoverage = window.location.href !== window.top.location.href;

      mocha.setup('bdd');

      require.config({
        baseUrl: isCoverage ? '/jscoverage' : '/javascripts',
        paths: {
          text: 'libs/text',
          jquery: 'libs/jquery/jquery',
          underscore: 'libs/underscore/underscore',
          backbone: 'libs/backbone/backbone',
          localstorage: 'libs/backbone/localstorage'
        }
      });

      require(files, function(require){
        window.expect = chai.expect;
        mocha.run();
      });
