<div id="header">
  <h1>
    <span class="hour"><%= active.exit_hour %></span>
    <span class="divider">:</span>
    <span class="minute"><%= active.exit_minute %></span>
  </h1>
</div>
<div id="content">
  <div class="hours">
    <div class="minimum">
      <span><%= active.minimum %></span>
    </div>
    <div class="maximum">
      <span><%= active.maximum %></span>
    </div>
  </div>
</div>
<div id="entrance">
  <input id="time" type="time" />
  <button>Go</button>
</div>
<div id="calendar">
  <ul>
    <% _.each(models, function(model){ %>
    <li <%= makeClass( model ) %>>
      <span><%= abbr( model.get('date').getDay() ) %></span>
      <strong><%= model.get('date').getDate() %></strong>
    </li>
    <% }); %>
  </ul>
</div>
<footer>
  <span id="footer"><%= name( month ) %> - <%= year %></span>
  <a id="reset" href="#!/clear">reset</a>
</footer>
