<div id="header">
  <h1>
    <span class="hour"><%= exit_hour %></span>
    <span class="divider">:</span>
    <span class="minute"><%= exit_minute %></span>
  </h1>
</div>
<div id="content">
  <div class="hours">
    <div class="minimum">
      <span><%= minimum %></span>
    </div>
    <div class="maximum">
      <span><%= maximum %></span>
    </div>
  </div>
</div>
<div id="entrance">
  <input type="time" />
</div>
<div id="calendar">
  <ul>
    <% _.each(models, function(model){ %>
    <li>
      <span><%= abbr( model.get('date').getDay() ) %></span>
      <strong><%= model.get('date').getDate() %></strong>
    </li>
    <% }); %>
  </ul>
</div>
<footer>
  <span id="footer"><%= month %> - <%= year %></span>
</footer>

