#bar
	background-color: red
	width: 480px

#header
	height: 280px
	float: left

	h1
		position: relative
		line-height: 120px
		padding: 20px

	.hour, .minute
		display: block

	.divider
		transform: rotate(90deg)
		position: absolute
		left: 60px
		top: 80px

#content
	margin: 10px 70px 10px 160px
	height: 280px

	.hours
		padding: 10px

		span
			font-size: 50px

		div
			margin-bottom: 10px

footer
	border-left: 1px solid
	height: 300px
	width: 60px
	top: 20px
	right: 0

	li
		border-bottom: 1px solid
		padding: 14px 5px
		display: block
		width: 49px
		height: 31px

		&:last-child
			border: 0 none
