#bar
  background-color: blue
  width: 320px

#header
  h1
    padding: 10px 0
    text-align: center

#content
  margin: 10px
  padding: 10px

  .hours
    clearfix()

    span
      font-size: 50px

    div
      width: 113px
      padding: 10px
      border: 1px solid

      &.minimum
        float: left

      &.maximum
        float: right

#entrance
  text-align: center
  font-weight: bold
  margin: 20px

  input
    text-align: center
    font-size: 40px
    width: 180px
    height: 72px

#calendar
  border: 1px solid
  height: 60px
  width: 298px

  ul
    width: 666em

  li
    border-right: 1px solid
    padding: 10px 5px
    height: 40px
    width: 49px

    &:last-child
      border: 0 none

    strong
      font-weight: bold

footer
  text-align: center
  font-size: 12px
  width: 100%
