#header
  h1
    padding: 10px 0
    text-align: center

#content
  margin: 10px
  padding: 10px

  .hours
    clearfix()

    span
      font-size: 50px

    div
      width: 113px
      padding: 10px
      border: 1px solid

      &.minimum
        float: left

      &.maximum
        float: right

.input_hours
  text-align: center
  font-weight: bold
  margin: 10px

  input, button
    text-align: center

  input
    font-size: 35px
    max-width: 45%

  button
    font-size: 20px

#calendar
  position: relative
  border: 1px solid
  height: 60px

  ul
    width: 666em

  li
    border-right: 1px solid
    padding: 10px 5px
    height: 40px
    width: 49px

    &:last-child
      border: 0 none

    strong
      font-weight: bold

#month_box
  top: 50%
  left: 15%

footer
  text-align: center
  font-size: 12px
  width: 100%

  #reset
    float: right
    margin-right: 10px

  #clear
    float: left
    margin-left: 10px
